pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

body {
    padding: 2%;
    margin:0;
    font-family: 'Press Start 2P', cursive;
    background-color: #ecf0f1;
  }

 /* HEADER STYLES */
.nav {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-bottom:10px;
    border-bottom: 1px solid black;
}

li {
    display: inline;
}

.nav a{
    cursor:pointer;
    width: 100px;
    border-radius: 5pX;
    text-align: center;
    padding: 10px;
}
.nav a:hover {
    transition: 0.2s;
    color: #334245;
    background-color: #cfd9db;
}


/* FOOTER STYLE */

.footer {
    position: relative;
    width: 100%;
    text-align: center;
}
.footer-line {
    width: 80%;
    border-top: solid 1px black;
}

/*USER APP STYLE*/
.user-app {
    border: 1px solid black;
    display:flex;
    justify-content: space-around;
    padding: 2%;
    margin: 2%;
}

.users {
    border: 3px solid black;
    min-width: 550px;
    display:flex;
    flex-direction: column;
    align-content: center;
    min-height: 450px;

}

.user-header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

.user {
    display: flex;
    border: 3px solid black;
    margin: 2%;
    margin-bottom: 0;
    border-radius: 15px;
    min-width: 500px;
    
}
.user-buttons {
    position: relative;
    display:inline;
}

.user-buttons i{
    cursor:pointer;
    pointer-events: auto;
    height: 15px;
    margin: 5px 0 5px 0;
}

.user-buttons i:hover {
    font-size: 20px;
    transition: 0.2s;
}
.user img{
    flex:0;
    border: 3px solid black;
    margin: 2%;
    border-radius: 30%;
    height: auto;
    width: auto;
}

.name {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin-bottom: 3px;
    align-content: center;
}

.details {
    width: 66%;
    justify-content: center;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.contact {
    font-size: 10px;
    color: red;
    margin: 3px;

}

.icon {
    color:blue;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
  
}

.list-of-users {
    display:flex;
    flex-direction: column;
    padding-left: 0px;
}

.addUser {
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: block;
    border: 3px solid black;
    cursor: pointer;
}

.addUser:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.user-edit {
    margin-left: 20px;
    font-size: 15px;
    position: fixed;
}

.edit-user-line {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 3px solid black;
}

.edit-user-line input, select {
    border: 2px solid black;
    height: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding-left: 3px;
}

.adduser-text {
    text-align: center;
}